<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('a#AC').bind('click', function() {
            $.getJSON('/AC',
                function(data) {
              //do nothing
            });
            return false;
          });
        });

        $(function() {
          $('a#Fan').bind('click', function() {
            $.getJSON('/Fan',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
 
	$(function() {
          $('a#Heat').bind('click', function() {
            $.getJSON('/Heat',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
        
	$(function() {
          $('a#Off').bind('click', function() {
            $.getJSON('/Off',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
	
	function temp() {
	    $.getJSON("/temp",
		    function (data) {
			$('#temp').text(data)
			console.log(data)
		    }
	    );
	}
	setInterval('temp()', 30000);

</script>


//button
<div class='container'>
    <h3>Test... yea..</h3>
        <form>
        	<a href=# id=AC><button class='btn btn-default'>Turn on the AC?</button></a>
        	<a href=# id=Fan><button class='btn btn-default'>Turn on Fan</button></a>
		<a href=# id=Heat><button class='btn btn-default'>Turn on the Heat?</button></a>
		<a href=# id=Off><button class='btn btn-default'>Turn everything Off</button></a>
		<br/><br/>
		Status: {{Hmessage}}
		</br></br>
		Temperature in Fahrenheit. Polling is set to a minute.:
	       	<p id="temp"> </p>	
	</form>

</div>
